body {
    background-color: white;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    margin: 0;
}

header {
    background-color: firebrick;
    text-align: center;
    color: white;
    font-size: larger;
    margin-bottom: 50px;
    border-bottom: thin solid white;
    padding: 50px 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    height: 70%;
    margin: 0 auto;
}

.recipes {
    font-weight: bold;
    font-size: large;
    padding: 50px 0 500px;
}

.recipes ol {
    color: black;
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
}

/*
    To add space b/w marker and text: https://stackoverflow.com/a/4373058/9878734
*/
.recipes li {
    padding-left: 20px;
}

.recipes a {
    color: currentColor;
    text-decoration: none;
}

.recipes a:hover {
    text-decoration: underline;
}

.recipe {
    background-color: white;
    font-size: larger;
    
}

.recipe img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.recipe h2{
    color: orangered;
}

.recipe ul {
    list-style-type: circle;
}

.recipe li {
    margin: 10px;
}

footer {
    background-color: #0002;
    /* height: 100px; */
    text-align: center;
    font-size: small;
    margin-top: 50px;
    border-top:  thin solid white;
    padding: 1px 0;
}

footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}